[submodule "_TEMPLATES"]
	path = _TEMPLATES
	url = git@github.com:Kwpolska/pkgbuild-templates
[submodule "faenza-cupertino-icon-theme"]
	path = faenza-cupertino-icon-theme
	url = ssh://aur@aur.archlinux.org/faenza-cupertino-icon-theme.git
[submodule "nap-git"]
	path = nap-git
	url = ssh://aur@aur.archlinux.org/nap-git.git
[submodule "nap"]
	path = nap
	url = ssh://aur@aur.archlinux.org/nap.git
[submodule "ob-autostart"]
	path = ob-autostart
	url = ssh://aur@aur.archlinux.org/ob-autostart.git
[submodule "pavumeter"]
	path = pavumeter
	url = ssh://aur@aur.archlinux.org/pavumeter.git
[submodule "pkgbuilder-git"]
	path = pkgbuilder-git
	url = ssh://aur@aur.archlinux.org/pkgbuilder-git.git
[submodule "pkgbuilder"]
	path = pkgbuilder
	url = ssh://aur@aur.archlinux.org/pkgbuilder.git
[submodule "python-pyroma-hg"]
	path = python-pyroma-hg
	url = ssh://aur@aur.archlinux.org/python-pyroma-hg.git
[submodule "python-pyroma"]
	path = python-pyroma
	url = ssh://aur@aur.archlinux.org/python-pyroma.git
[submodule "think-git"]
	path = think-git
	url = ssh://aur@aur.archlinux.org/think-git.git
[submodule "think"]
	path = think
	url = ssh://aur@aur.archlinux.org/think.git
[submodule "trashman-git"]
	path = trashman-git
	url = ssh://aur@aur.archlinux.org/trashman-git.git
[submodule "trashman"]
	path = trashman
	url = ssh://aur@aur.archlinux.org/trashman.git
[submodule "cheqlist"]
	path = cheqlist
	url = ssh+git://aur.archlinux.org/cheqlist.git/
[submodule "datecalc"]
	path = datecalc
	url = ssh+git://aur.archlinux.org/datecalc.git/
[submodule "font-tester"]
	path = font-tester
	url = ssh+git://aur.archlinux.org/font-tester.git/
[submodule "python-datecond"]
	path = python-datecond
	url = ssh+git://aur.archlinux.org/python-datecond.git/
[submodule "python-kwpbar"]
	path = python-kwpbar
	url = ssh+git://aur.archlinux.org/python-kwpbar.git/
[submodule "upass"]
	path = upass
	url = ssh+git://aur.archlinux.org/upass.git/
[submodule "upass-git"]
	path = upass-git
	url = ssh+git://aur.archlinux.org/upass-git.git/
[submodule "nikola-git"]
	path = nikola-git
	url = ssh://aur@aur.archlinux.org/nikola-git.git
